/* 
 * Copyright (c) 2018 RuneScape Wiki team
 *
 * SPDX-License-Identifier: GPL-3.0
 */


/* Base */

html,
body {
	margin: 0;
	height: 100%;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	color: #414f57;
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

h1,
p {
	margin: 0;
	padding: 20px 20px 0 20px;
}
p {
	padding-bottom: 20px;
}

/* Forms */
#debug input {
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	height: 2rem;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	transition: box-shadow .3s, border .3s;
}
#debug input:focus {
	border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

#debug button {
	border: none;
	border-radius: 2px;
	padding: 0 16px;
	height: 36px;
	line-height: 36px;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	color: white;
	background-color: #26a69a;
	text-align: center;
	letter-spacing: .5px;
	transition: background-color .2s ease-out;
	cursor: pointer;

	font-size: 14px;
	outline: 0;
}
#debug button:focus {
	background-color: #31a096;
}
#debug button:hover {
	background-color: #4db6ac;
}

/* Map */

.map {
	width: 100%;
	height: calc(100% - 120px);
}

.leaflet-control-attribution {
	background: transparent !important; /* rgba(255, 255, 255, 0.2) !important */
	padding: 5px;
}
.leaflet-control-attribution a {
	color: #003a52 !important;
}

.leaflet-control-container > div {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.leaflet-control-container > div.vertical {
	flex-direction: column;
	align-items: flex-end;
}

.leaflet-control-zoom > a {
	float: left;
}
.leaflet-control-zoom-level {
	width: initial !important;
	padding: 0 10px !important;
}
.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
	font-size: 100% !important;
	line-height: 30px !important;
}

.marker-text-icon {
	color: #e6e6e6;
	background: transparent;
	border: none;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 110%;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	white-space: nowrap;
}

.leaflet-tile-pane img,
.leaflet-canvas-icon-layer {
	image-rendering: pixelated;
}